<div class="panel panel-default">
  <div class="panel-heading">Map Feature Filters</div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
          <label class="header">
            <img style='width:19px; height:20px; margin-top: -4px;' src='/assets/img/egg-icon.png' alt='egg'/>
            Air Quality Eggs (AQE)
            <a target="blank" href="/wizard#datasets=aqe" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
          </label>
          <div class="checkbox">
              <label><input class='filter-indoor-eggs filter-aqe' type="checkbox" value="true" checked>Indoor Eggs</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-outdoor-eggs filter-aqe' type="checkbox" value="true" checked>Outdoor Eggs</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-last-datapoint-within-6-hours filter-aqe' type="checkbox" value="true" checked>Last updated w/i 6 hours</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-last-datapoint-within-24-hours filter-aqe' type="checkbox" value="true">Last updated w/i 24 hours</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-last-datapoint-within-168-hours filter-aqe' type="checkbox" value="true">Last updated w/i 7 days</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-last-datapoint-not-within-168-hours filter-aqe' type="checkbox" value="true">Last updated > 7 days ago</label>
          </div>
      </div>
      <div class="form-group">
          <label class="header"><img style='width:19px; height:20px; margin-top: -4px;' src='/assets/img/div_icon_1.png' alt='proposed egg'/>
            Proposed AQE Sites
            <a target="blank" href="/wizard#datasets=propaqe" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
          </label>
          <div class="checkbox">
              <label><input class='filter-propaqe-group-1 filter-propaqe' type="checkbox" value="true">Proposed  Group 1</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-propaqe-group-2 filter-propaqe' type="checkbox" value="true">Proposed Group 2</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-propaqe-group-3 filter-propaqe' type="checkbox" value="true">Proposed Group 3</label>
          </div>
      </div>
      <div class="form-group">
          <label class="header">
            <img style='margin-top: -3px;' src='/assets/img/blue-dot_15.png' alt='blue dot'/>
            Air Quality System Sites
            <a target="blank" href="/wizard#datasets=aqs" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
          </label>
          <div class="checkbox">
              <label><input class='filter-active-sites filter-aqs' type="checkbox" value="true" checked>Active sites</label>
          </div>
      </div>
      <div class="form-group">
          <label class="header">
            <img style='width:19px; height:20px; margin-top: -4px;' src='/assets/img/blackboard.png' alt='blackboard'/> 
            Schools
            <a target="blank" href="/wizard#datasets=jeffschools" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
          </label>
          <div class="checkbox">
              <label><input class='filter-jeffschools' type="checkbox" value="true">Jefferson County, KY</label>
          </div>
      </div>
      <div class="form-group">
          <label class="header">
            <img style='width:19px; height:20px; margin-top: -4px;' src='/assets/img/famallergy.png' alt='family allergy and asthma center'/> 
            Family Allergy and Asthma
            <a target="blank" href="/wizard#datasets=famallergy" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
          </label>
          <div class="checkbox">
              <label><input class='filter-famallergy' type="checkbox" value="true">Daily Pollen Count Readings</label>
          </div>
      </div>
      <div class="form-group">
          <label class="header"><img src='/vendor/leaflet-0.8-dev-06062014/images/marker-icon.png' style='width:12px;height:20px;margin-top:-5px;margin-right:5px;' alt='marker' />LouisvilleKY.gov Open Data</label>
          <div class="checkbox">
              <label><input class='filter-food' type="checkbox" value="true">
                Restaurant Inspection Scores
                <a target="blank" href="/wizard#datasets=food" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
              </label>
          </div>
          <div class="checkbox">
              <label><input class='filter-parks' type="checkbox" value="true">
                Park Locations and Amenities
                <a target="blank" href="/wizard#datasets=parks" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
              </label>
          </div>
      </div>
      <div class="form-group">
          <label class="header">
            <i class="fa fa-bars"></i> Durham Labs
            <a target="blank" href="/wizard#datasets=bike" title="data visualization wizard for this dataset"><i class="fa fa-magic fa-fw"></i></a>
          </label>
          <div class="checkbox">
              <label><input class='filter-bike-test-06222014 filter-bike' type="checkbox" value="true">06/22/2014 Test Bike Ride</label>
          </div>

<!--           <div class="checkbox">
              <label><input class='filter-bike-O3 filter-bike' type="checkbox" value="true" disabled>Bike O3 Sensor</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-bike-CO filter-bike' type="checkbox" value="true" disabled>Bike CO Sensor</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-bike-NO2 filter-bike' type="checkbox" value="true" disabled>Bike NO2 Sensor</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-bike-VOC filter-bike' type="checkbox" value="true" disabled>Bike VOC Sensor</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-bike-Particulate filter-bike' type="checkbox" value="true" disabled>Bike Particulate Sensor</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-bike-TEMP filter-bike' type="checkbox" value="true" disabled>Bike Temperature Sensor</label>
          </div>
          <div class="checkbox">
              <label><input class='filter-bike-RHUM filter-bike' type="checkbox" value="true" disabled>Bike Humidity Sensor</label>
          </div>
 -->      </div>
      <div class="form-group">
          <label class="header"><img src='/assets/img/heatmap_legend.png' style='width:20px;height:20px;margin-top:-5px;margin-right:5px;' alt='marker' />Propeller Health Asthma Heatmap</label>
          <div style="margin-left:10px;">
            <input class="filter-asthmaheat-user form-control2" placeholder="Username">
            <input class="filter-asthmaheat-pass form-control2" type="password" placeholder="Password">
          </div>
      </div>
      <button style="width:100%;" class="btn btn-default submit-map-filters">Apply Filters to Map</button>
    </form>
  </div>
</div>