<div class="row">

  <div class="col-lg-12">

    <h1>Focus Air Quality Egg Dashboard</h1>

	<a class='btn btn-outline btn-primary' target='blank' href='/wizard?#&amp;datasets=aqe&amp;sql=<%= URI.encode(@sql) %>&amp;viewName=grid'>Shortcut to Data Viz Wizard for this Focus Eggs</a>

	<hr />

	<%= @results.inspect %>

  </div>
</div>