<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Welcome!</h1>
    <p>Using the map below, select a marker to learn more about it or select samples from the menu to the left.</p>
    <p>You can use the drawing tools inside the map pane to select and compare multiple markers at once</p>
  </div>
</div>

<div class="row">
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">EPA AirNow Air Quality Forecasts (for 50 miles from the center of the map)</div>
            <div class="panel-body" style="padding:10px; overflow:scroll; max-height: 93px;">
                <div id="home-map-aqis-container"></div>
            </div>
        </div>
        <div class="home-map-container">
            <div class="map home-map" id="map_canvas" style="width:100%;height:680px;"></div>
        </div>


    </div>

    <div class="col-lg-3">

      <div class="panel panel-default">
        <div class="panel-heading">Map Feature Filters</div>
        <div class="panel-body">

          <form role="form">
            <div class="form-group">
                <label class="header"><i class="fa fa-bars"></i> Air Quality Eggs</label>
                <div class="checkbox">
                    <label><input class='filter-indoor-eggs' type="checkbox" value="true" checked>Indoor Eggs</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-outdoor-eggs' type="checkbox" value="true" checked>Outdoor Eggs</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-last-datapoint-within-6-hours' type="checkbox" value="true" checked>Last updated w/i 6 hours</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-last-datapoint-within-24-hours' type="checkbox" value="true">Last updated w/i 24 hours</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-last-datapoint-within-168-hours' type="checkbox" value="true">Last updated w/i 7 days</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-last-datapoint-not-within-168-hours' type="checkbox" value="true">Last updated > 7 days ago</label>
                </div>
                <hr />
                <div class="checkbox">
                    <label><input class='filter-propaqe-group-1' type="checkbox" value="true">Proposed  Group 1</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-propaqe-group-2' type="checkbox" value="true">Proposed Group 2</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-propaqe-group-3' type="checkbox" value="true">Proposed Group 3</label>
                </div>

            </div>
            <div class="form-group">
                <label class="header"><i class="fa fa-bars"></i> Air Quality System Sites</label>
                <div class="checkbox">
                    <label><input class='filter-active-sites' type="checkbox" value="true" checked>Active sites</label>
                </div>
            </div>
            <div class="form-group">
                <label class="header"><i class="fa fa-bars"></i> Schools</label>
                <div class="checkbox">
                    <label><input class='filter-jeffschools' type="checkbox" value="true">Jefferson County, KY</label>
                </div>
            </div>
            <div class="form-group">
                <label class="header"><i class="fa fa-bars"></i> Durham Labs</label>
                <div class="checkbox">
                    <label><input class='filter-bike-O3' type="checkbox" value="true" disabled>Bike O3 Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-bike-CO' type="checkbox" value="true" disabled>Bike CO Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-bike-NO2' type="checkbox" value="true" disabled>Bike NO2 Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-bike-VOC' type="checkbox" value="true" disabled>Bike VOC Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-bike-Particulate' type="checkbox" value="true" disabled>Bike Particulate Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-bike-TEMP' type="checkbox" value="true" disabled>Bike Temperature Sensor</label>
                </div>
                <div class="checkbox">
                    <label><input class='filter-bike-RHUM' type="checkbox" value="true" disabled>Bike Humidity Sensor</label>
                </div>
            </div>
            <button style="width:100%;" class="btn btn-default submit-map-filters">Apply Filters to Map</button>
        </form>


        </div>
      </div>
    </div>

</div>