.popup_metadata table,.popup_metadata th,.popup_metadata td { border:1px solid #ccc; }

.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: .2em;
  display: block;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
}

.leaflet-control-layers-group td:nth-child(2) {
  padding-left: .5em;
}

.leaflet-control-legend{
  margin-right: 0px !important;
}
.leaflet-control-layers-group label{
  font-weight:normal;
}

.egg-icon {
  z-index: 1000 !important;
}

.sensor-reading{
  line-height: 23px;
}

.leaflet-popup-content .table td, .leaflet-popup-content .table th {padding: 5px 2px;}